<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2016. Sunghyouk Bae <sunghyouk.bae@gmail.com>
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~       http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="debop4k.data.mybatis.typehandlers">

  <resultMap id="selectUUIDResultMap" type="UUIDBean">
    <id property="testId" column="testId" typeHandler="UUIDTypeHandler" javaType="UUID" jdbcType="OTHER"/>
    <result property="name" column="name"/>
    <result property="password" column="password" typeHandler="EncryptedStringTypeHandler" javaType="String"
            jdbcType="VARCHAR"/>
  </resultMap>

  <select id="selectUUIDBeanById" parameterType="UUID" resultMap="selectUUIDResultMap">
    SELECT * FROM UUIDBeanTable where testId = #{testId}
  </select>

  <insert id="insertUUIDBean" parameterType="UUIDBean">
    INSERT INTO UUIDBeanTable(testId, name, password)
    values(
    #{testId,javaType=UUID,jdbcType=OTHER,typeHandler=UUIDTypeHandler},
    #{name},
    #{password,javaType=String,jdbcType=VARCHAR,typeHandler=EncryptedStringTypeHandler}
    )
  </insert>

  <delete id="deleteUUIDBeanById" parameterType="UUIDBean">
    DELETE FROM UUIDBeanTable WHERE testId = #{testId,javaType=UUID,jdbcType=OTHER,typeHandler=UUIDTypeHandler}
  </delete>

</mapper>