<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2016. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  ~ Morbi non lorem porttitor neque feugiat blandit. Ut vitae ipsum eget quam lacinia accumsan.
  ~ Etiam sed turpis ac ipsum condimentum fringilla. Maecenas magna.
  ~ Proin dapibus sapien vel ante. Aliquam erat volutpat. Pellentesque sagittis ligula eget metus.
  ~ Vestibulum commodo. Ut rhoncus gravida arcu.
  -->

<configuration>
  <!-- help : http://kr.hconnect.redis.logback.qos.ch/manual/appenders.html -->
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{ISO8601} %-5level %logger{36}.%method : %msg%n</pattern>
      <immediateFlush>true</immediateFlush>
      <charset>UTF-8</charset>
    </encoder>
  </appender>

  <logger name="debop4k.examples" level="TRACE"/>

  <root level="INFO">
    <appender-ref ref="console"/>
  </root>

</configuration>